DB_HOST=localhost
DB_PORT=5432
DB_USER=taskflow
DB_PASS=taskflow
DB_NAME=taskflow_auth

JWT_SECRET=secret

AWS_ENDPOINT=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:user-events
